Cargar archivo csv
(la ejecución del archivo solicitó instalar ipykernel)
agregar credenciales correo y name

In [4]:
import pandas as pd
df = pd.read_csv('panini.csv')
df.head(100).to_csv('panini.csv', index=False)
df

      id       fecha          producto  valor         metodo_pago
0   2720  2023-07-01  Risoto de Funghi   13.0   Tarjeta de Débito
1   2721  2023-07-02          Tiramisú   10.0   Tarjeta de Débito
2   2722  2023-07-02          Tiramisú   10.0  Tarjeta de Crédito
3   2723  2023-07-02       Ratatouille    8.5       Transferencia
4   2724  2023-07-03       Ratatouille    8.5            Efectivo
..   ...         ...               ...    ...                 ...
95  2815  2023-07-21           Gnocchi   10.5   Tarjeta de Débito
96  2816  2023-07-22         Prociutto    4.5   Tarjeta de Débito
97  2817  2023-07-22          Espresso    2.5   Tarjeta de Débito
98  2818  2023-07-22         Croissant    5.0       Transferencia
99  2819  2023-07-22           Gnocchi   10.5  Tarjeta de Crédito

[100 rows x 5 columns]

In [5]:
df.info()

# Mostrar el tamaño del dataset
print(f"\nEl conjunto de datos tiene {df.shape[0]} filas y {df.shape[1]} columnas.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           100 non-null    int64
 1   fecha        100 non-null    object
 2   producto     100 non-null    object
 3   valor        100 non-null    float64
 4   metodo_pago  100 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 4.0+ KB

El conjunto de datos tiene 100 filas y 5 columnas.